<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielordonez.coffesociallife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoffeOriginActivity"
            android:label="@string/title_activity_coffe_origin"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".CoffeHouse"
            android:label="@string/title_activity_coffe_house"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".Burocracy"
            android:label="@string/title_activity_burocracy"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".Present"
            android:label="@string/title_activity_present"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".Evolution"
            android:label="@string/title_activity_evolution"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".Information"
            android:label="@string/title_activity_information"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
        <activity
            android:name=".Health"
            android:label="@string/title_activity_health"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danielordonez.coffesociallife.MainActivity" />
        </activity>
    </application>

</manifest>